@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.s11-text {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.s11-link {
  color: #bd1622 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.lets-discuss {
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(52, 52, 52);
  font-size: 32px;
  margin: 0;
}

.number-email-address {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-email-address div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.number-email-address a {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.number-email-address a:hover {
  color: #bd1622;
}

.number-email-address p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.instructions_container {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 35px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.instructions {
  width: max-content;
  color: #000 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  background-color: white;
  line-height: 25px;
  padding: 8px;
  text-align: center;
  animation: mymove 1s linear;
  display: none;
}

@keyframes mymove {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (orientation: landscape) and (max-width: 600px),
  (max-height: 600px) {
  .instructions {
    font-size: 12px !important;
    line-height: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .instructions_container {
    bottom: 80px;
  }

  .instructions {
    font-size: 12px !important;
    line-height: 22px;
  }
}
