@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.s11-text {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.s11-link {
  color: #bd1622 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
}

.lets-discuss {
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(52, 52, 52);
  font-size: 32px;
  margin: 0;
}

.number-email-address {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-email-address div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.number-email-address a {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.number-email-address a:hover {
  color: #bd1622;
}

.number-email-address p {
  margin-top: 5px;
  margin-bottom: 5px;
}
